name: Auto Build and Deploy

on:
  push:
    branches: ["main"] # This triggers every time you "git push"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install and Build
        # Removed "cd ./dist" because your files are in the root
        run: |
          npm install
          npm run build

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          # Point directly to the 'dist' folder created in the root
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment

        uses: actions/deploy-pages@v4
